body {
	background: url('../img/sessionBackground.png');
	background-repeat: repeat-y;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

strong {
	/* color: #20b1b1; */
	color: #b3247e;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	margin-bottom: 80px;
}

.linha {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	padding: 0px 5% 0px 5%;
}

.linha p {
	font-size: 1rem;
}

.detalhe {
	padding-left: 5px;
	display: flex;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.responsiveImage {
	width: 100%;
	height: auto;
}


.tituloEnfase {
	border-left: 10px solid #b3247e;
	padding-left: 11px;
	text-align: center;
	padding-bottom: 4px;
}

@media (max-width: 576px) {
	.linha {
		flex-direction: column;
		/* width: auto; */
	}
	.detalhe {
		margin-top: 15px;
	}
	.linha p {
		font-size: 1.2rem;
	}
	img {
		padding-top: 20px;
	}
	.tituloEnfase {
		text-align: left;
	}
}


.pointer {
	margin-top: 50px;
	background-color: #341e52;
	padding: 5px;
	border-radius: 50px;
	margin-right: 10px;
	height: 2px;
	width: 2px;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
  }
  .modalDialog:target {
	opacity: 1;
	pointer-events: auto;
  }
  .modalDialog > div {
    width: 90%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin: 5% auto;
    /* padding: 5% 20px 5% 20px; */
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  }
  .close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: fixed;
	right: 9%;
	text-align: center;
	top: 9%;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
  }
  .close:hover {
	background: #00d9ff;
  }
  .linkRodape{
	background-color: #431e52;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 600;
  }